<div class="example-float">
  <mat-list>
    <mat-list-item>
      <button mat-icon-button color="primary" class="example-button" routerLink="">
        <mat-icon class="example-icon">dashboard</mat-icon>
      </button>
    </mat-list-item>
    <mat-list-item>
      <button mat-icon-button color="primary" class="example-button" routerLink="channels">
        <mat-icon class="example-icon">add_box</mat-icon>
      </button>
    </mat-list-item>
    <mat-list-item>
      <button mat-icon-button color="primary" class="example-button" routerLink="notifications">
        <mat-icon class="example-icon">notifications</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</div>
