<div *ngIf="searching">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<mat-card style="text-align: center">
  <h4 *ngIf="imagesFound == false" mat-subheader>No Results</h4>
  <div *ngIf="imagesFound == true" class="dw">
    <div *ngFor="let publication of publications" class="dw-pnl">
      <div class="dw-pnl-cntnt">
        <mat-card-header style="padding: 20px;">
          <div class="avatar" mat-card-avatar
               [ngStyle]="{'background-image':'url('+ publication.channel.imageSource +')', 'background-size':'40px 40px'}">
          </div>
          <mat-card-title>{{ publication.channel.name }}</mat-card-title>
          <mat-card-subtitle>{{ publication.channel.date }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img src="{{publication.imageSource}}" style="width: 100%">
          <div class="publication-text">

            {{publication.text}}
          </div>
          <p>Likes {{ publication.likes }} Comments {{ publication.comments }}</p>
        </mat-card-content>
      </div>
    </div>
  </div>
</mat-card>
