<div class="example-float">
  <mat-list>
    <mat-list-item>
      <button mat-raised-button color="primary" class="example-button">
        <mat-icon class="example-icon">favorite</mat-icon>
        <span class="example-spacer"></span>
        <span>Main</span>
      </button>
    </mat-list-item>
    <mat-list-item>
      <button mat-raised-button color="primary" class="example-button">
        <mat-icon class="example-icon">favorite</mat-icon>
        <span class="example-spacer"></span>
        <span>Sources</span>
      </button>
    </mat-list-item>
    <mat-list-item>
      <button mat-raised-button color="primary" class="example-button">
        <mat-icon class="example-icon">favorite</mat-icon>
        <span class="example-spacer"></span>
        <span>Settings</span>
      </button>
    </mat-list-item>
  </mat-list>
</div>
