.logo-label{
  width: 200px;
}

.searchButton {
  background-color: #00a6ca;
  color: #fff;
  width: 200px;
  text-align: center;
}

.search {
  margin-right: 15px;
  margin-left: 200px;
  width: 700px;
}

/deep/.mat-input-placeholder {
  color: white;
}

mat-input-underline {
  background-color: white;
  bottom: 1.5em;
}

mat-input-infix {
  border-top: 1.2em solid transparent;
}
