<!--<button mat-button [matMenuTriggerFor]="menu">Menu</button>-->
<!--<mat-menu #menu="matMenu">-->
<!--<button mat-raised-button>Help</button>-->
<!--<button mat-raised-button>About</button>-->
<!--</mat-menu>-->

<!--<h4 class="logo-label" mat-subheader>No Results</h4>-->

<mat-input-container class="search" color="green">
  <input matInput [(ngModel)]="searchQuery" name="searchQuery" placeholder="Search for images">
</mat-input-container>
<button (click)="searchImages(searchQuery)" mat-raised-button class="searchButton">Find Images</button>


